html,
body {
    background-color: rgb(15,6,23);
    font-family: sans-serif;
    background: rgb(15,6,23) !important;
    background: -moz-radial-gradient(circle, rgba(15,6,23,1) 15%, rgba(0,0,0,1) 100%)!important;
    background: -webkit-radial-gradient(circle, rgba(15,6,23,1) 15%, rgba(0,0,0,1) 100%) !important;
    background: radial-gradient(circle, rgba(15,6,23,1) 15%, rgba(0,0,0,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f0617",endColorstr="#000000",GradientType=1) !important;
    color: white;
    filter: contrast(.98);
}

* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}

body {
    padding: 40px;
    margin: 20px 100px;
    display: flex;
    flex-direction: column;
    background: rgba(12, 12, 12, 0.46) !important;
    border-radius: 16px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(9.1px) !important;
    -webkit-backdrop-filter: blur(9.1px) !important;
    border: 1px solid rgba(0, 0, 0, 1) !important;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

.main-header-nav {
    width: 100%;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
}

.main-header-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: auto;
}

.main-header-list-item {
    font-size: 1.4rem;
}

.container-main {
    display: flex;
    gap: 20px;
    width: fill;
    background: rgba(37, 37, 37, 0.46);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.1px);
    -webkit-backdrop-filter: blur(9.1px);
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 10px;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.fill {
    width: 100%;
}

.text-center {
    text-align: center;
}

.project {
    background: rgba(0, 0, 0, 0.63);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.4px);
    -webkit-backdrop-filter: blur(10.4px);
    border: 2px solid rgb(122, 122, 122);
    height: auto;
    max-width: 500px;
    word-wrap: break-word;
    padding: 10px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: all .4s ease-in;
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.project:hover {
    transform: translateY(-10px);
    filter: drop-shadow(0px 40px 25px rgb(0, 0, 0));
    filter: drop-shadow(0px 0px 50px rgba(15,6,23,1));
    scale: 1.05;
    border: 2px solid rgb(70, 48, 105);
}

.project:active {
    filter: drop-shadow(0px 40px 25px rgb(0, 0, 0));
}

.styled-link {
    color: rgb(59, 127, 255);
}

#about-me {
    max-width: 522px;
}

#nb {
    height: 100%;
    min-height: 240px;
    max-height: 240px;
    width: 100%;
    background-image: url("https://www.discover-the-world.com/app/uploads/2022/03/canada-new-brunswick-point-wolfe-river-istk-1440x0-c-default.jpg");
    background-size: cover;
    background-position: 0px -20px;
    background-repeat: no-repeat;
    filter: brightness(0.6)
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: sans-serif;
}

.form-group {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    gap: 5px;
}

.form-group input {
    background-color: rgba(0, 0, 0, 0.466);
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 40px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    padding: 15px 5px;
}

.form-group textarea {
    resize: vertical;
    background-color: rgba(0, 0, 0, 0.466);
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    padding: 5px;
}

.form-control button {
    border: 0;
    outline: 0;
    padding: 10px;
    font-size: 2rem;
    background-color: rgb(119, 33, 199);
    border-radius: 5px;
    cursor: pointer;
    transition: scale 0.1s;
}

.form-control button:hover {
    background-color: rgb(88, 24, 148);
}

.form-control button:active {
    background-color: rgb(88, 24, 148);
    scale: 1.05;
}

@media all and (max-width: 600px) {
    body {
        margin: 20px;
        padding: 20px;
    }

    .container-main {
        padding: 10px;
        align-items: center;
        width: 100%;
    }

    .project-column {
        width: 100%;
    }
}
