:root[data-theme="light"] {
    --text: rgb(30, 30, 30);
    --background: rgb(245, 245, 245);
    --background-secondary: rgb(255, 255, 255);
    --background-input: rgb(196, 196, 196);
    --primary: rgb(163, 0, 128);
    --secondary: rgb(50, 35, 182);
    --accent: #516bff;
  }
  :root[data-theme="dark"] {
    --text: rgb(255, 255, 255);
    --background: rgb(43, 43, 43);
    --background-secondary: rgba(0, 0, 0, 0.2);
    --background-input: rgba(58, 58, 58, 0.8);
    --primary: rgb(255, 92, 220);
    --secondary: rgb(50, 35, 182);
    --accent: #7488ff;
  }
  

html,
body {
    background-color: var(--background);
    font-family: sans-serif;
    /* background: rgb(15,6,23) !important;
    background: -moz-radial-gradient(circle, rgba(15,6,23,1) 15%, rgba(0,0,0,1) 100%)!important;
    background: -webkit-radial-gradient(circle, rgba(15,6,23,1) 15%, rgba(0,0,0,1) 100%) !important;
    background: radial-gradient(circle, rgba(15,6,23,1) 15%, rgba(0,0,0,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f0617",endColorstr="#000000",GradientType=1) !important; */
    color: var(--text);
}

* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: 130%;
    letter-spacing: -1.2px;
}

body {
    padding: 40px;
    margin: 20px 100px;
    background: var(--background);
    border-radius: 16px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(9.1px) !important;
    -webkit-backdrop-filter: blur(9.1px) !important;
    border: 1px solid rgba(0, 0, 0, 1) !important;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

.main-header-nav {
    width: 100%;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
}

.main-header-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: auto;
}

.main-header-list-item {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.container-main {
    display: flex;
    gap: 20px;
    width: fill;
    border-radius: 16px;
    background-color: var(--background-secondary);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.61);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 10px;
    width: 100%;
    max-width: 1000px;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.fill {
    width: 100%;
}

.text-center {
    text-align: center;
}

.wrap {
    flex-wrap: wrap;
}

.project {
    height: fit-content;
    width: 100%;
    height: 150px;
    padding: 10px;
    overflow: hidden;
    transition: all 0.2s;
    color: white;
}

.theme-style-bg {
    border: double 2px transparent;
    border-radius: 20px;
    background-image: linear-gradient(140deg, var(--secondary), var(--accent)), radial-gradient(circle at top left, var(--accent), var(--accent));
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.project:hover {
    transform: translateY(-5px);
    filter: drop-shadow(0px 2px 5px rgba(15,6,23,1));
    scale: 1.01;
    border: 2px solid var(--secondary);
}

.project:active {
    filter: drop-shadow(0px 40px 25px rgb(0, 0, 0));
}

.styled-link {
    color: var(--accent);
}

.styled-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.styled-list li {
    display: flex;
    align-items: center;
}

.styled-list li::before {
    content: "•";
    margin-right: 10px;
}

#nb {
    border-radius: 10px;
    display: flex;
    width: 100%;
    height: 100%;
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: sans-serif;
}

.form-group {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    gap: 5px;
}

.form-group input {
    background-color: var(--background-input);
    font-size: 1.6rem;
    width: 100%;
    height: 40px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    padding: 15px 5px;
    transition: border 0.4s;
    border: 2px solid transparent;
    backdrop-filter: blur(10px);
    font-family: sans-serif;
    -webkit-backdrop-filter: blur(10px);
}

.form-control input:focus {
    border: 2px solid var(--accent);
}

.form-group textarea {
    resize: vertical;
    background-color: var(--background-input);
    font-size: 1.6rem;
    width: 100%;
    height: 100px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    padding: 5px;
    transition: border 0.4s;
    border: 2px solid transparent;
    backdrop-filter: blur(10px);
    font-family: sans-serif;
    -webkit-backdrop-filter: blur(10px);
}

.form-group textarea:focus {
    border: 2px solid var(--accent);
}

.form-control button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px;
    font-size: 2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: scale 0.1s;
}

.form-control button:hover {
    background-color: rgb(88, 24, 148);
}

.form-control button:active {
    background-color: rgb(88, 24, 148);
    scale: 1.05;
}

.flex-align-center img {
    transform: translateY(2px);
}

.wrap {
    padding: 0px !important;
}

.btn-no-style {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dark-theme {
    filter: invert(95%) hue-rotate(180deg);
    filter: saturate(2, 1.2, 1.2);
}

.expand-menu {
    position: absolute;
    display: block;
    top: 68px;
    left: 20px;
    width: calc(100% - 40px);
    max-height: fit-content;
    color: #fff;
    padding: 10px 0;
    z-index: 1000;
    min-height: 239.5px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    z-index: 999;
}

.hidden {
    display: none !important;
}

@media all and (min-width: 1900px) {
    
}

@media all and (max-width: 1345px) {
    main {
        justify-content: center;
    }
}

@media all and (min-width: 800px) { 
    .mobile-show{
       display: none; 
    } 
}

@media all and (max-width: 800px) {
    body {
        margin: 0px;
        padding: 20px;
        border-radius: 0px !important;
        background-color: transparent;
    }

    html {
        border-radius: 0px !important;
    }

    main {
        padding: 0;
        margin: 0;
    }

    .container-main {
        padding: 10px;
        align-items: center;
        width: 100%;
    } 

    .project {
        min-width: 100%;
        max-width: 100%;
        width: 100%;
    }

    .main-header-nav {
        margin-top: 10px;
        margin-bottom: -30px;
    }

    .mobile-hidden {
        display: none;
    }

    .mobile-show {
        display: flex;
    }
}
